/* reset */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* estilização geral*/
body {
  background: #1c2033;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card-bg {
  background: #30364d;
  position: absolute;
  border-radius: 11px;
}
.card {
  padding: 22px;
  display: flex;
  align-items: center;
}
.avatar {
  position: relative;
  margin-right: 22px;
}
.fone {
  top: 0;
  right: -5px;
  position: absolute;
}
h1 {
  font-size: 16px;
  font-weight: 500px;
  line-height: 18px;
  color: #cad0e5;
}
h2 {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 400px;
  line-height: 15px;
  color: #73788d;
}
.text {
  color: #73788d;
  text-align: justify;
  font-size: 13px;
  font-weight: 400px;
  line-height: 15px;
  padding: 0px 20px;
  margin-top: -10px;
}

.like {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  color: #73788d;
  padding: 22px;
}
